 body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--crna);
    background-color: var(--bela);
}

html {
    scroll-behavior: smooth;
}

.cleaner {
    clear: both;
}

:root {
    --bela: #F3F3F4;
    --crna: #14110F;
    --nar: #EFA94D;
    --siva: #A9A9A9;
}

a {
    color: var(--crna);
    text-decoration: none;
}

header {
    display: flex;
    position: sticky;
    top: -157px;
    z-index: 1;
}

main {
    z-index: -1;
}

#heder-pocetna {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

#heder-senka {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.panel-meni {
    width: 19vw;
    background-color: var(--bela);
}

#gore {
    display: flex;
    width: 62vw;
}

.osnovne-informacije {
    flex-grow: 1;
    flex-basis: 0;
}

#dole-meni {
    display: table;
    margin: auto;
    padding:  0px;
}

#dole {
    background-color: var(--bela);
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.informacije-centriranje {
    font-size: 16px;
    padding: 78.5px 0px 0px 0px;
}

.informacije-levo span{
    float: left;
}

.tekst-ikonice {
    padding-top: 2px;
}

.informacije-desno a {
    float: right;
    padding-top: 2px;
}

.informacije-desno span {
    float: right;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80px;
    margin-top: 20px;
    transition: 800ms;
    transition-delay: 200ms;
}

.logo img:hover {
    transform: rotate(360deg);
}

.logo h1 {
    font-size: 16px;
    margin: 0px;
}

.logo h2 {
    font-size: 10px;
    padding-bottom: 20px;
    margin: 0px;
}

.logo a {
    text-decoration: none;
    color: var(--crna);
}

.navigacija {
    float: left;
    padding: 20px 0px;
}

.navigacija a {
    text-decoration: none;
    text-align: center;
    color: var(--crna);
    padding: 20px 30px;
}

.linkovi-nav-meni a {
    transition: 400ms;
}

.linkovi-nav-meni a:hover {
    color: var(--nar);
}

.slika-pozadina {
    text-align: center;
    background: url(../images/clay-court.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--siva);
    background-blend-mode: multiply;
    filter: saturate(1.05);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4) inset;
}

.h3-pocetna {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: var(--bela);
    font-size: 0px;
    animation-name: pocetna-h3-anim;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

@keyframes pocetna-h3-anim {
    0% {
        padding: 0px;
        font-size: 0px;
        opacity: 0%;
    }

    20% {
        padding: 10px;
    }

    50% {
        opacity: 0%;
    }

    80% {
        padding: 40px;
        font-size: 100px;
    }

    100% {
        padding: 40px;
        opacity: 100%;
        font-size: 100px;
    }
}

.animacija-paneli {
    animation: paneli;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.paneli-parent {
    display: flex;
}

@keyframes paneli{
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.panel-levo-desno {
    width: 19vw;
}

.panel-centar {
    width: 62vw;
    height: 100vh;
}

#panel-levo-1 {
    border-top-right-radius: 70%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

#panel-levo-2 {
    border-bottom-right-radius: 70%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

#panel-desno-2 {
    border-radius: 20% / 40% 0% 0%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

.panel-desno-1-3 {
    border-bottom-left-radius: 100%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

footer {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.09) inset;
    border-top-right-radius: 80%;
    border-top-left-radius: 30%;
}

#futer {
    margin: 0px 19vw;
    display: flex;
}

.razmak-inf-futer {
    margin: 0px 5%;
    position: relative;
    top: -5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 10px;
    border-radius: 50%;
}

