body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--crna);
    background-color: var(--bela);
}

html {
    scroll-behavior: smooth;
}

.cleaner {
    clear: both;
}

:root {
    --bela: #F3F3F4;
    --crna: #14110F;
    --nar: #8f4c00;
    --siva: #A9A9A9;
    --bledo-siva: #ebebeb;
}

a {
    color: var(--crna);
    text-decoration: none;
}

p a {
    color: var(--nar);
    transition: 400ms;
}

p a:hover {
    color: var(--crna);
}

header {
    display: flex;
    position: sticky;
    top: -157px;
    z-index: 5;
}

main {
    z-index: -1;
    animation: paneli;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#heder-pocetna {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}

#heder-senka {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.panel-meni {
    width: 19vw;
    background-color: var(--bela);
}

#gore {
    display: flex;
    width: 62vw;
}

.osnovne-informacije {
    flex-grow: 1;
    flex-basis: 0;
}

#dole-meni {
    display: table;
    margin: auto;
    padding:  0px;
}

#dole {
    background-color: var(--bela);
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.informacije-centriranje {
    font-size: 16px;
    padding: 78.5px 0px 0px 0px;
}

.informacije-levo span{
    float: left;
}

.tekst-ikonice {
    padding-top: 2px;
}

.informacije-desno a {
    float: right;
    padding-top: 2px;
}

.informacije-desno span {
    float: right;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80px;
    margin-top: 20px;
    transition: 800ms;
    transition-delay: 200ms;
}

.logo img:hover {
    transform: rotate(360deg);
}

.logo h1 {
    font-size: 16px;
    margin: 0px;
}

.logo h2 {
    font-size: 10px;
    padding-bottom: 20px;
    margin: 0px;
}

.logo a {
    text-decoration: none;
    color: var(--crna);
}

.navigacija {
    float: left;
    padding: 20px 0px;
}

.navigacija a {
    text-decoration: none;
    text-align: center;
    color: var(--crna);
    padding: 20px 30px;
}

.linkovi-nav-meni a {
    transition: 400ms;
}

.linkovi-nav-meni a:hover {
    color: var(--nar);
}

.slika-pozadina {
    text-align: center;
    background: url(../images/clay-court.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--siva);
    background-blend-mode: multiply;
    filter: saturate(1.05);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4) inset;
}

#cenovnik-pozadina {
    background: url(../images/kineskinja.jpg);
    background-size: cover;
    height: 40%;
}

#cenovnik-dole {
    display: flex;
    width: 100%;
    height: 60%;
    border-radius: 3px;
}

#cenovnik-levo {
    width: 70%;
    height: 80%;
    background-color: var(--bledo-siva);
    border-bottom: 2px solid var(--nar);
}

#cenovnik-cene {
    width: 60%;
    margin: 10% 20%;
    text-align: center;
}

#cenovnik-cene h3 {
    font-size: 30px;
    text-align: center;
}

#cenovnik-cene p {
    font-size: 16px;
}

.email {
    width: 80%;
    height: 4%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;
    border: none;
    border-bottom: 4px dotted var(--bela);
    background: var(--crna);
    outline: none;
    color: var(--bela);
    z-index: 1;
}

#cenovnik-desno {
    width: 29%;
    height: 100%;
    background-color: #14110F;
    font-size: 16px;
    color: var(--bela);
    text-align: center;
}

#cenovnik-desno-p {
    margin-top: 40%;
}

#cenovnik-desno p {
    margin-left: 20%;
    margin-right: 20%;
}

#cenovnik-desno-2 {
    width: 1%;
    height: 100%;
    background-color: var(--nar);
}

#lokacija-centar {
    margin-top: 100px;
    background-color: var(--bledo-siva);
    border-bottom: 2px solid var(--nar);
    border-top: 2px solid var(--siva);
    height: 80%;
}

#mapa-lokacija {
    position: relative;
    top: 0;
    width: 300px;
    height: 900px;
    border-left: 10px solid var(--crna);
    border-right: 2px solid var(--nar);
}

#lokacija-sadrzaj-1 {
    position: relative;
    bottom: 45%;
    left: 22%;
    width: 70%;
    height: 20%;
    background-color: var(--crna);
}

#lokacija-sadrzaj-2 {
    position: relative;
    bottom: 110%;
    left: 30%;
    width: 50%;
    height: 70%;
    background-color: var(--bela);
    border-top: 2px solid var(--nar);
    border-bottom: 2px solid var(--siva);
    opacity: 80%;
    text-align: center;
    font-size: 16px;
}

#lokacija-sadrzaj-2 h3 {
    padding-top: 50px;
}

#lokacija-sadrzaj-2 h4 {
    padding-top: 110px;
    font-size: 20px;
}

#lokacija-sadrzaj-2 p{
    margin: 2px;
}

#lokacija-sadrzaj-2 a{
    margin: 2px;
    color: var(--crna);
}

.h3-pocetna {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: var(--bela);
    font-size: 0px;
    animation-name: pocetna-h3-anim;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

@keyframes pocetna-h3-anim {
    0% {
        padding: 0px;
        font-size: 0px;
        opacity: 0%;
    }

    20% {
        padding: 10px;
    }

    50% {
        opacity: 0%;
    }

    80% {
        padding: 40px;
        font-size: 100px;
    }

    100% {
        padding: 40px;
        opacity: 100%;
        font-size: 100px;
    }
}

.animacija-paneli {
    animation: paneli;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.paneli-parent {
    display: flex;
}

@keyframes paneli{
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.okvir-parent {
    position: absolute;
}

.okvir {
    position: relative;
    width: 430px;
    height: 280px;
    border-radius: 4px;
    z-index: -1;
}

#okvir-1 {
    top: 55px;
    left: 400px;
    border: 5px solid var(--nar);
}

#okvir-2 {
    top: 340px;
    left: 560px;
    border: 5px solid var(--nar);
}

#okvir-3 {
    bottom: 555px;
    left: 360px;
    border: 2px solid var(--crna);
    z-index: -2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#okvir-4 {
    bottom: 300px;
    left: 590px;
    border: 2px solid var(--crna);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
}

#slike-galerija {
    padding: 60px;
}

.slike {
    display: flex;
}

.slike img{
    width: 30%;
    margin: 20px;
    transition: 400ms;
    border: 0px solid var(--siva);
}

.slike img:hover {
    border-right: 20px solid var(--siva);
}

.slike-sredina {
    margin: 10px 20px;
}

.panel-1-slika {
    width: 50%;
    position: relative;
}

.panel-1-slika img {
    height: 15%;
    display: block;
    border-radius: 4px;
    transition: 500ms;
    border: 0px solid var(--siva);
    z-index: 1;
}

#panel-2-slika {
    width: 50%;
}

#panel-2-slika img {
    height: 287px;
    width: 431px;
    display: block;
    border-radius: 4px;
    transition: 500ms;
    border: 0px solid var(--siva);
    z-index: 1;
}

#central-panel {
    float: right;
}

#slika-1 {
    margin: 15% 0% 20% 15%;
}

#slika-2 {
    margin: 15% 45% 0% 45%;
}

#slika-3 {
    margin: 15% 0% 20% 0%;
}

#slika-4 {
    position: relative;
    margin: 15% 60% 0% 0%;
}

.slika-main:hover {
    border: 20px solid transparent;
}

#crno {
    background-color: var(--crna);
    width: 20%;
    height: 70%;
    position: relative;
    z-index: -1;
    left: 10%;
    border-left: 10px solid var(--nar);
}

#o-autoru {
    position: absolute;
}

#o-autoru img {
    height: 400px;
    transition: 700ms;
    display: flex;
    position: relative;
}

#o-autoru img:hover {
    filter: blur(2px);
}


#rezolucija {
    position: absolute;
    right: 400px;
    top: 1200px;
    font-size: 16px;
}

#obavezno {
    color: var(--nar);
}

#donja-slika {
    top: 100px;
    left: 200px;
}

#opis-autora {
    position: relative;
    left: 400px;
    padding-left: 40px;
    padding-right: 40px;
    height: 90%;
    border-left: 5px solid var(--nar);
    background-color: var(--bledo-siva);
}

#opis-autora h3 {
    letter-spacing: 3px;
}

#autor-centar  {
    display: flex;
}

.panel-text {
    height: 100%;
    width: 50%;
    text-align: center;
    border-bottom: 7px solid var(--nar);
    z-index: 2;
    background: linear-gradient(180deg, transparent, var(--bledo-siva));
}

#panel-1-tekst {
    margin: 15% 5% 0% 0px;
}

#panel-2-tekst {
    margin: 5% 0% 15% 5%;
    width: 60%;
}

#panel-3-tekst {
    margin: 15% 5% 15% 0px;
    width: 60%;
    border-bottom: 0px solid var(--nar);
    border-top: 7px solid var(--nar);
}

.panel-levo-desno {
    width: 19vw;
}

.panel-centar {
    width: 62vw;
    height: 100vh;
}

.panel-1-flex {
    display: flex;
    height: auto;
    width: 100%;
}

#forma {
    background-color: var(--crna);
    height: 50%;
    border-top: 20px solid var(--nar);
    border-bottom: 20px solid var(--nar);
    margin-top: 6%;
    text-align: center;
}

#forma-naslov h3    {
    text-align: center;
    font-size: 50px;
    background-color: var(--bledo-siva);
    border-left: 10px solid var(--crna);
    border-right: 10px solid var(--crna);
}

.forma-pocetna {
    width: 40%;
    height: 4%;
    font-size: 16px;
    font-family: 'Montserrat';
    border: none;
    border-bottom: 2px solid var(--bela);
    background: var(--crna);
    outline: none;
    color: var(--bela);
    z-index: 1;
    text-align: center;
}

.margina-forma {
    margin-top: 40px;
    display: block;
}

#radio-i-submit {
    display: flex;
    width: 50%;
    margin: 5% 25% 0px 25%;
    border-bottom: 2px solid var(--nar);
}

#radio {
    flex-grow: 1;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.label-radio-dugme {
    width: 22px;
    height: 22px;
    border: 2px solid var(--bela);
    border-radius: 5px;
    margin: 6px 20px 0px 20px;
}

.label-radio-dugme input {
    display: none;
}


#submit {
    flex-grow: 1;
    width: 70%;
    height: 70px;
    margin-right: 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    border: 2px solid var(--bela);
    background-color: var(--crna);
    color: var(--bela);
    border-radius: 5px;
    transition: 550ms;
}

#submit:hover {
    background-color: var(--bledo-siva);
    border-color: var(--nar);
    color: var(--crna);
}

#radio-opis {
    color: var(--bela);
    font-size: 14px;
    width: 75%;
    text-align: left;
}

#radio-opis p {
    position: relative;
    bottom: 4px;
}

#kraj-naslov {
    text-align: center;
    font-size: 30px;
    color: var(--bledo-siva);
    padding-top: 10px;
}

#kraj-naslov h3 {
    font-family: 'Montserrat';
    font-weight: 100;
}

#ispod-futera {
    background: url(../images/iznad-futera.jpg);
    background-size: cover;
    height: 150px;
    margin-top: 6%;
    border-bottom: 40px solid var(--crna);
}

#crni-blok {
    position: relative;
    left: 110px;
    width: 70%;
    height: 100px;
    background-color: var(--crna);
    margin: 40px 0px 30px 0px;
    border-right: 100px solid var(--nar);
    border-bottom: 10px solid var(--nar);
}

#slicice {
    position: relative;
    bottom: 120px;
    width: 100%;
    height: 45%;
}

#slicice-perent {
    display: flex;
    height: 100%;
    border-radius: 50%;
}

.clanstvo-slicice {
    flex-grow: 1;
    flex-basis: 0;
    height: 60%;
    border-top: 20px solid var(--nar);
    background: var(--bledo-siva);
    background: linear-gradient(180deg, transparent, var(--bledo-siva));
}

.clanstvo-slicice:hover {
    background: var(--bledo-siva);
}

.slicice-opis {
    position: absolute;
    width: 12%;
    padding-left: 7%;
}

.slicice-opis p{
    position: relative;
    padding: 10% 0% 0% 0%;
    margin: 0%;
    text-align: center;
}

.male-slicice {
    position: relative;
    margin-left: 20%;
    top: 65%;
    height: 60%;
    width: 60%;
    background-color: var(--nar);
    color: var(--bledo-siva);
    text-align: center;
}

.male-slicice p {
    margin: 0%;
    padding: 10% 0% 0% 0%;
}

.male-slicice span {
    font-size: 70px;
    padding: 10% 0% 0% 0%;
}

#slicice-dole {
    background-color: var(--crna);
    height: 40%;
    position: relative;
    top: -40%;
    z-index: -1;
    border-bottom: 20px solid var(--nar);
}

#panel-levo-1 {
    border-top-right-radius: 70%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

#panel-levo-2 {
    border-bottom-right-radius: 70%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

#panel-desno-2 {
    border-radius: 20% / 40% 0% 0%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

.panel-desno-1-3 {
    border-bottom-left-radius: 100%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}

footer {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.09) inset;
    border-top-right-radius: 80%;
    border-top-left-radius: 30%;
}

#futer {
    margin: 0px 19vw;
    display: flex;
}

.razmak-inf-futer {
    margin: 0px 5%;
    position: relative;
    top: -5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 10px;
    border-radius: 50%;
}